# Data Merging
---
<img src="img/merge.jpg" width="350" align="center"/>

In this notebook, we will merge all the data collected from the previous notebook into our main dataset.

In [1]:
import pandas as pd
import numpy as np

## Stage 1: To merge the Oscar winner & nominees to the main dataset

In [2]:
imdb = pd.read_csv('data/imdb.csv')
oscar = pd.read_csv('data/oscar.csv')

In [3]:
imdb.head()

,Movie,Year,Runtime (min),Certificate,IMDb_rating,IMDb_votes,Metascore,Directors,Actors,RT_rating,...,History,Horror,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,Fight Club,1999,139,R(A),8.8,1766938,66,David Fincher,"['Brad Pitt', 'Edward Norton', 'Meat Loaf', 'Z...",78,...,0,0,0,0,0,0,0,0,0,0
1,The Matrix,1999,136,PG,8.7,1592823,73,Lana Wachowski Lilly Wachowski,"['Keanu Reeves', 'Laurence Fishburne', 'Carrie...",87,...,0,0,0,0,0,1,0,0,0,0
2,The Green Mile,1999,189,R(A),8.6,1080907,61,Frank Darabont,"['Tom Hanks', 'Michael Clarke Duncan', 'David ...",78,...,0,0,0,0,0,0,0,0,0,0
3,American Beauty,1999,122,R(A),8.3,1029619,84,Sam Mendes,"['Kevin Spacey', 'Annette Bening', 'Thora Birc...",87,...,0,0,0,0,0,0,0,0,0,0
4,The Sixth Sense,1999,107,PG,8.1,877505,64,M. Night Shyamalan,"['Bruce Willis', 'Haley Joel Osment', 'Toni Co...",86,...,0,0,0,1,0,0,0,1,0,0

In [4]:
oscar.head()

   year                 film  oscar_winner  oscar_nomination
0  1927                Wings             1                 1
1  1927           The Racket             0                 1
2  1927           7th Heaven             0                 1
3  1928  The Broadway Melody             1                 1
4  1928                Alibi             0                 1

In [5]:
#make each to list
oscarList = oscar['film'].tolist()
imdbList = imdb['Movie'].tolist()

In [6]:
nominee=[]

#append in for nominees
for movie in imdbList:
    if movie in oscarList:
        nominee.append(1)
    else:
        nominee.append(0)

In [7]:
#list of winners
champs = oscar[oscar['oscar_winner']==1]
oscar_winners = champs['film'].tolist()

winner = []
#append in for winners
for movie in imdbList:
    if movie in oscar_winners:
        winner.append(1)
    else:
        winner.append(0)

In [8]:
#df for winner
imdb['Oscar_winner'] = pd.DataFrame(np.array(winner))

In [9]:
#df for nominees
imdb['Oscar_nominee'] = pd.DataFrame(np.array(nominee))

In [10]:
imdb.head(3)

,Movie,Year,Runtime (min),Certificate,IMDb_rating,IMDb_votes,Metascore,Directors,Actors,RT_rating,...,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western,Oscar_winner,Oscar_nominee
0,Fight Club,1999,139,R(A),8.8,1766938,66,David Fincher,"['Brad Pitt', 'Edward Norton', 'Meat Loaf', 'Z...",78,...,0,0,0,0,0,0,0,0,0,0
1,The Matrix,1999,136,PG,8.7,1592823,73,Lana Wachowski Lilly Wachowski,"['Keanu Reeves', 'Laurence Fishburne', 'Carrie...",87,...,0,0,0,1,0,0,0,0,0,0
2,The Green Mile,1999,189,R(A),8.6,1080907,61,Frank Darabont,"['Tom Hanks', 'Michael Clarke Duncan', 'David ...",78,...,0,0,0,0,0,0,0,0,0,1

---
## Stage 2: To merge the Numbers and Film Awards (winner & nominees)  to the main dataset

In [11]:
#import the different files
numbers = pd.read_csv('data/numbers.csv')
bafta = pd.read_csv('data/BAFTA.csv')
dga = pd.read_csv('data/DGA.csv')
ggCom = pd.read_csv('data/GG_comedy.csv')
ggDrm = pd.read_csv('data/GG_drama.csv')
pga = pd.read_csv('data/PGA.csv')
gpalm = pd.read_csv('data/GPalm.csv')
ccma = pd.read_csv('data/CCMA.csv')

#create new imdbList
imdbList = imdb['Movie'].tolist()

### To get binary data for winners and nominees

In [12]:
def get_winNom(imdbList, sourceDF):
    winner = []
    nominee = []
    champs = []
    #list of all movies in the sourceDF
    sourceList = sourceDF['film'].tolist()
    #to append in 1/0 for nominees
    for movie in imdbList:
        if movie in sourceList:
            nominee.append(1)
        else:
            nominee.append(0)
            
    #create a list of only winners
    champs = sourceDF[sourceDF['winner']==1]
    champs = champs['film'].tolist()
    for movie in imdbList:
        if movie in champs:
            winner.append(1)
        else:
            winner.append(0)
            
    return winner, nominee

### To get domestic gross and worldwide gross

In [13]:
def remove_char(numberdf):
    number = numberdf.replace('\xa0','', regex = True)
    number = number.replace('\Â', '', regex=True)
    number = number.replace('\$', '', regex=True)
    number = number.replace('\,', '', regex=True)
    number = number.astype('int64')
    return number

In [14]:
def get_money(imdbList, numbersDF):
    budget_mon = []
    dom_mon = []
    world_mon = []
    #remove the unusual character first
    budDF = numbersDF['budget']
    domesDF = numbersDF['domestic_gross']
    worldDF = numbersDF['world_wide_gross']
    budDF = remove_char(budDF)
    domesDF = remove_char(domesDF)
    worldDF = remove_char(worldDF)
    
    #remake into list
    domestic = domesDF.tolist()
    worldwide = worldDF.tolist()
    budget = budDF.tolist()
    film = numbersDF['movie_name'].tolist()
    
    for movie in imdbList:
        i = 0
        while (i<5700):
            if (movie==film[i]):
                break
            i+=1
        if(i<5700):
            budget_mon.append(budget[i])
            dom_mon.append(domestic[i])
            world_mon.append(worldwide[i])
        else:
            budget_mon.append(0)
            dom_mon.append(0)
            world_mon.append(0)
    return budget_mon, dom_mon, world_mon

In [15]:
#get money data
myBudget, myDomestic, myWorld = get_money(imdbList, numbers)

In [16]:
#for bafta award
bafta_winner, bafta_nom = get_winNom(imdbList, bafta)

#for dga
dga_winner, dga_nom = get_winNom(imdbList, dga)

#for ggCom
ggCom_winner, ggCom_nom = get_winNom(imdbList, ggCom)

#for ggDrm
ggDrm_winner, ggDrm_nom = get_winNom(imdbList, ggDrm)

#for pga
pga_winner, pga_nom = get_winNom(imdbList, pga)

#for ccma
ccma_winner, ccma_nom = get_winNom(imdbList, ccma)

#golden palm
gpalm_winner, gpalm_nom = get_winNom(imdbList, gpalm)

In [17]:
LoL = [bafta_winner, bafta_nom, dga_winner, dga_nom, 
       ggCom_winner, ggCom_nom, ggDrm_winner, ggDrm_nom, 
       pga_winner, pga_nom, gpalm_winner, gpalm_nom,
       ccma_winner, ccma_nom, myBudget, myDomestic, myWorld]

col_Names = ["BAFTA_winner", "BAFTA_nominee", "DGA_winner", "DGA_nominee",
             "GG_comedy_winner", "GG_comedy_nominee", "GG_drama_winner", "GG_drama_nominee", 
             "PGA_winner", "PGA_nominee", "Golden_Palm_winner", "Golden_Palm_nominee",
             "CCMA_winner", "CCMA_nominee", "Budget","Domestic (US) gross", "Worldwide gross"]

mini = 0
maxi = 17
for i in range(mini, maxi):
    df = pd.DataFrame(np.array(LoL[i]), columns={""+col_Names[i]+""})
    imdb = pd.concat([imdb, df],axis=1)

In [18]:
imdb.head(3)

,Movie,Year,Runtime (min),Certificate,IMDb_rating,IMDb_votes,Metascore,Directors,Actors,RT_rating,...,GG_drama_nominee,PGA_winner,PGA_nominee,Golden_Palm_winner,Golden_Palm_nominee,CCMA_winner,CCMA_nominee,Budget,Domestic (US) gross,Worldwide gross
0,Fight Club,1999,139,R(A),8.8,1766938,66,David Fincher,"['Brad Pitt', 'Edward Norton', 'Meat Loaf', 'Z...",78,...,0,0,0,0,0,0,0,65000000,37030102,100841550
1,The Matrix,1999,136,PG,8.7,1592823,73,Lana Wachowski Lilly Wachowski,"['Keanu Reeves', 'Laurence Fishburne', 'Carrie...",87,...,0,0,0,0,0,0,0,65000000,173396389,465421959
2,The Green Mile,1999,189,R(A),8.6,1080907,61,Frank Darabont,"['Tom Hanks', 'Michael Clarke Duncan', 'David ...",78,...,0,0,0,0,0,0,0,60000000,136801374,290701374

### To create a new feature "International gross"

International gross = Worldwide gross - Domestic (US) gross

In [19]:
imdb["International gross"] = " "
imdb.head(3)

,Movie,Year,Runtime (min),Certificate,IMDb_rating,IMDb_votes,Metascore,Directors,Actors,RT_rating,...,PGA_winner,PGA_nominee,Golden_Palm_winner,Golden_Palm_nominee,CCMA_winner,CCMA_nominee,Budget,Domestic (US) gross,Worldwide gross,International gross
0,Fight Club,1999,139,R(A),8.8,1766938,66,David Fincher,"['Brad Pitt', 'Edward Norton', 'Meat Loaf', 'Z...",78,...,0,0,0,0,0,0,65000000,37030102,100841550,
1,The Matrix,1999,136,PG,8.7,1592823,73,Lana Wachowski Lilly Wachowski,"['Keanu Reeves', 'Laurence Fishburne', 'Carrie...",87,...,0,0,0,0,0,0,65000000,173396389,465421959,
2,The Green Mile,1999,189,R(A),8.6,1080907,61,Frank Darabont,"['Tom Hanks', 'Michael Clarke Duncan', 'David ...",78,...,0,0,0,0,0,0,60000000,136801374,290701374,

In [20]:
imdb['International gross'] = imdb['Worldwide gross'].sub(imdb['Domestic (US) gross'])
imdb.head(3)

,Movie,Year,Runtime (min),Certificate,IMDb_rating,IMDb_votes,Metascore,Directors,Actors,RT_rating,...,PGA_winner,PGA_nominee,Golden_Palm_winner,Golden_Palm_nominee,CCMA_winner,CCMA_nominee,Budget,Domestic (US) gross,Worldwide gross,International gross
0,Fight Club,1999,139,R(A),8.8,1766938,66,David Fincher,"['Brad Pitt', 'Edward Norton', 'Meat Loaf', 'Z...",78,...,0,0,0,0,0,0,65000000,37030102,100841550,63811448
1,The Matrix,1999,136,PG,8.7,1592823,73,Lana Wachowski Lilly Wachowski,"['Keanu Reeves', 'Laurence Fishburne', 'Carrie...",87,...,0,0,0,0,0,0,65000000,173396389,465421959,292025570
2,The Green Mile,1999,189,R(A),8.6,1080907,61,Frank Darabont,"['Tom Hanks', 'Michael Clarke Duncan', 'David ...",78,...,0,0,0,0,0,0,60000000,136801374,290701374,153900000

---
# Preparation for Manual Filling, Cleaning & Checking

While almost 85% of the data we scraped using codes, we find it more efficient to do manual filling some data on wikipedia. An example would be:

<img src="img/manual.png" width="800" align="center"/>

If you look at this New York Film Critics Circle Awards for 2019. The only data we are interested is the winner of the best film. Since **not all** year of the NYFCC will have nominees for the awards, it is definitely faster and more efficient for us to enter the data directly on the csv file - to just locate the row say "The Irishman", then enter "1" in the column of NYFCC_winner and NYFCC_nominees columns, and we are done.  ( •̀ᄇ• ́)ﻭ✧

Hence, here are the list of awards that we will be scraping manually:

> 1. Berlin International Film Festival - Golden Bear Awards
> 2. Venice Film Festival - Golden Lion Awards
> 3. Toronto International Film Festival - People's Choice Awards (PCA)
> 4. New York Film Critics Circle Awards (NYFCC)
> 5. Online Film Critics Society Awards (OFCS)

In [21]:
imdb["Golden_Bear_winner"] = 0
imdb["Golden_Bear_nominee"] = 0
imdb["Golden_Lion_winner"] = 0
imdb["Golden_Lion_nominee"] = 0
imdb["PCA_winner"] = 0    
imdb["PCA_nominee"] = 0  
imdb["NYFCC_winner"] = 0
imdb["NYFCC_nominee"] = 0 
imdb["OFCS_winner"] = 0    
imdb["OFCS_nominee"] = 0
imdb.head(3)

,Movie,Year,Runtime (min),Certificate,IMDb_rating,IMDb_votes,Metascore,Directors,Actors,RT_rating,...,Golden_Bear_winner,Golden_Bear_nominee,Golden_Lion_winner,Golden_Lion_nominee,PCA_winner,PCA_nominee,NYFCC_winner,NYFCC_nominee,OFCS_winner,OFCS_nominee
0,Fight Club,1999,139,R(A),8.8,1766938,66,David Fincher,"['Brad Pitt', 'Edward Norton', 'Meat Loaf', 'Z...",78,...,0,0,0,0,0,0,0,0,0,0
1,The Matrix,1999,136,PG,8.7,1592823,73,Lana Wachowski Lilly Wachowski,"['Keanu Reeves', 'Laurence Fishburne', 'Carrie...",87,...,0,0,0,0,0,0,0,0,0,0
2,The Green Mile,1999,189,R(A),8.6,1080907,61,Frank Darabont,"['Tom Hanks', 'Michael Clarke Duncan', 'David ...",78,...,0,0,0,0,0,0,0,0,0,0

In [22]:
imdb.to_csv('movie_dataset_draft.csv', index=False)

---
## Comments

Some problems we faced are that although we wrote codes to merge separate csv files into the main dataset, we found that some movie names don't align (meaning the movie name in the main dataset and the movie name in a separate csv file do not tally, even if they are really the same movie). This happened due to the following reasons:

> 1. Different capitalisation, e.g. 'Joker' does not tally with 'joker' 
> 2. Different languages, e.g. 'Sen to Chihiro no Kamikakushi' is 'Spirited Away' in Japanese
> 3. Weird Symbols included during the auto scraping process, e.g. 'WALLÂ·E' supposed to be just "Wall-E"

We've thought of using Stemming & Lemmitization (to remove punctuation, capitalisation, spaces, etc.) to solve for problem 1, but then we abandoned the idea as not only problem 2 & 3 still exist, we do not wish to uglify the movie title. For example the movie "Once Upon a time in Hollywood" will become "onceuponatimeinhollywood". Thus, we decided to clean & check manually, and luckily only minority (around 10% of the data) have the problem of their names not tallying. ٩(ˊᗜˋ*)و

- Before manual filling, cleaning & checking : movie_dataset_draft.csv
- After manual filling, cleaning & checking : movie_dataset_final.csv

And we are done! Starting from now we will be using the movie_dataset_final.csv all the way till the end.   ԅ( ˘ω˘ԅ)